<div class="container mt-5">

    <h3 class="mt-4 pb-2 page-header">Systeme <small class="text-secondary">Direkte Navigation</small></h3>

    <div class="row text-center text-lg-left my-3">

        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">TUNAP Online-Shop</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Intershop</h6>
                    <div class="row">

                        <div class="col-sm">
                            <a href="https://eshop.tunap.de" target="_blank" class="btn btn-primary btn-block no-underline">Frontend</a>
                        </div>

                        <div class="col-sm">
                            <a href="https://eshop.tunap.de" target="_blank" class="btn btn-success btn-block no-underline disabled">Backend</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Portatour</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Tourenplaner und CRM</h6>
                    <div class="row">

                        <div class="col-sm">
                            <a href="https://my.portatour.net/a/sujifu56" target="_blank" class="btn btn-primary btn-block w-50 no-underline">Administration</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">TUNAPP</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Web-CMS</h6>
                    <div class="row">

                        <div class="col-sm">
                            <a href="https://app-sap.tunap.com" target="_blank" class="btn btn-primary btn-block no-underline">Produktiv</a>
                        </div>

                        <div class="col-sm">
                            <a href="https://app-dev-sap.tunap.com" target="_blank" class="btn btn-success btn-block no-underline">Testumgebung</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
