<div class="container mt-5">

    <h3 class="mt-4 pb-2 page-header">Dashboard <small class="text-secondary">Alle Informationen</small></h3>

    <div class="row my-3">

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">a</div>
                        <div class="col-sm-3">b</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">a</div>
                        <div class="col-sm-3">b</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">a</div>
                        <div class="col-sm-3">b</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">a</div>
                        <div class="col-sm-3">b</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
